.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  > .contentandsidebar {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;

    > main {
      height: 100%;
      overflow: scroll;
      flex-grow: 1;
    }
  }
}
